---
_options:
  layout: app/layouts/page-layout.static.hbs
  partials:
    - app/partials/head-meta-partial.static.hbs
    - app/partials/head-script-partial.static.hbs
---
  <head>
    {{>head-meta-partial}}
    {{>head-script-partial}}
  </head>

  <body>
    {{#each pages}}
      <link rel="lazy-import" href="/page_components/{{element}}/{{element}}.html" group="{{element}}" />
    {{/each}}
    <project-core id="project-core">
      {{#each pages}}
        <{{element}} route="{{route}}"></{{element}}>
      {{/each}}
    </project-core>
  </body>
